*{
    box-sizing: border-box;
    margin:0 auto;
}

/* header */
header
{
    border: 1px;
    background-color: rgb(223, 225, 226);
    width: 70%;
    padding: 70px;
}

h5
{
    text-align: center;
    padding: 4px;
}

h1
{
    font-size: 50px;
    font-family:'Playfair', serif;
    text-align: center;
    padding: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 500px;
}

ul
{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}

ul li a
{
    text-decoration: none;
}

ul li
{
    list-style-type: none;
    display: inline;
    text-align: center;
}

#plat
{
    width: 70%;
    height: 100%;
    background-color: rgb(223, 225, 226);
    display: flex;
    align-items: center;
    text-align-last: right;
}

#plat div
{
    margin-left: -15%;
}
#plat h3
{
    border-bottom: 1px solid black;
    width: 400px;
}
#plat img
{
    max-width: 40%;
}


/* body */
#container
{
    background-color: rgb(223, 225, 226);
    width:70% ;
    display: flex;
    flex-wrap: wrap;
}

article
{
    flex: 0 1 430px;
    display: flex;
    align-items: center;
}
article p
{
    line-height: 20px;
}

article img
{
    width: 100%;   
}

.note
{
    background-color: rgb(0, 0, 0);
    color: white;

}

i
{
    color: white;
}

/* fin de body */

/* footer */
footer
{
    background-color: rgb(223, 225, 226);
    width: 70%;
    padding: 5%;
    align-items: center;
    align-content: center;
}

footer img
{
    display: flex;
    align-content: center;
    width: 20%;
    height: auto;
}

.image-container 
{
    position: relative;
    display: block;
    /* display: flex; */
 
}

.overlay-text 
{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #0c0000; 
    font-size: 15px; 
    text-align: center;
}
    
.last
{
    text-align: center;
}
/* fin footer */

